<a href="https://colab.research.google.com/github/geocarvalho/rosalind/blob/master/rosalind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python village

## 2. Variables and Some Arithmetic

* Given: Two positive integers a and b, each less than 1000;
* Return: The integer corresponding to the square of the hypotenuse of the right triangle whose legs have lengths a and b.

Sample Dataset
> 3 5

Sample Output
> 34

In [1]:
a = 3
b = 5
result = (a**2) + (b**2)
result

34

In [2]:
a = 940
b = 805
result = (a**2) + (b**2)
result

1531625

## 3. Strings and Lists

* Given: A string s of length at most 200 letters and four integers a, b, c and d.

* Return: The slice of this string from indices a through b and c through d (with space in between), inclusively. In other words, we should include elements s[b] and s[d] in our slice.

Sample Dataset
> HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain.

> 22 27 97 102

Sample Output
> Humpty Dumpty

In [4]:
words = "HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain."
start1 = 22
end1 = 27
start2 = 97
end2 = 102

print(f'{words[start1:end1+1]} {words[start2:end2+1]}')

Humpty Dumpty

In [5]:
words = "Opw5EZtkP4r8QH9KFHmbsntrtdhGlScOOCamptolomaXYYdbSjXKDJgx9RNS4rHe6HDFRoaJhoJJMpBQE87wQrEJNauratusHmdGs69XIgtOfUcWotLPq0Oga1h432MGoOfMqmEhWWZ8YkVDW5mkp1C1UeNDgSApPxavZDdVkieW1SDqSUhmV73kWt."
start1 = 33
end1 = 42
start2 = 89
end2 = 95

print(f'{words[start1:end1+1]} {words[start2:end2+1]}')

Camptoloma auratus

## 4. Conditions and Loops

* Given: Two positive integers a and b (a<b<10000).

* Return: The sum of all odd integers from a through b,inclusively.

Sample Dataset
> 100 200

Sample Output
> 7500

# Bioinformatics Stronghold

## 1. Counting DNA nucleotides

* [Problem](http://rosalind.info/problems/dna/)
* [First script](https://github.com/geocarvalho/rosalind/blob/master/counting_dna_nucleotides.py)

Sample Dataset
> AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC

Sample Output
> 20 12 17 21

In [0]:
def countNucFreq(seq):
  tmpFreqDict = {"A":0, "C":0, "G":0, "T":0}
  for nuc in seq:
    tmpFreqDict[nuc] += 1
  lst_num = [str(val)for val in list(tmpFreqDict.values())]
  output = ' '.join(lst_num)
  return output

In [0]:
DNAstr = "AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC"
countNucFreq(DNAstr)

'20 12 17 21'

In [0]:
given_example = "TAGACGATTCCTTCATTATGTGCTATAAGCTAAACCGTGTCCACGGATGGACAGGGCTCTGTTTTTGCTTCTTTGCAATACGCTTCGAGTGGTTGGCTCAATCCTATCTAATCGTGGACTGAATTTGTGAGCGGGTTTAAGCGCTCTTCGTCGGGCGTCCGGTACGGAGAGGGAACTCTAACCTGCCCTAAGGCGAAAAATACTGCATTAGCTATCCACAAGGATCGGTGGCGGCCCCTGAGGTCGCCGTCAGCCGCTCTCACATTCAGAGAATGCGGCCCGTACATTCAATAAGCGCTGTCACTGTAATCGCGGGCGCGCCCTAGGTAGCCACTTGGGCCTTTAATTACGAAGTCAAGCCTAACCGATGGCGACAGGCTTGGGGGGGGCATATTCACGCAGAACCCCAACATGAGTTGAACCCGACGGAGACACAAGCAGGAGCAGCCCATGGGTCGGTTGATTATTAGGTACCTTAATGTGAGGGGTTTATAACAAGGAATTAGAAGAATACTGTTCAAAGCCATCGTGATGGGTAATCCTCGGTCACTGTTACCTCTTACTTTGTGATTTTGGATTCTCATAGATGGATGCTACACTTATAAGTGCTTATTTGGAGCGCCACTAACATAAGACCGATGCACAAGTGTACGAGCGCGACGCGCGGATAATATTGTCCCGCGGAATCATGAAACATCGGCGTAGCCCTAGGGCGTCTGCTCTGCAAAGCTACACTACAGTCAGCGTTCCCAAACTGGGGGGTCTACGAATTATATAGGAGGAAACCTGGACTGGTCAGTTTAAAGTGTAGACGGTGGGATTTCGGGCCCAAACGCTAGTAGAGTTACTAGAAATCCCCTTCAGTCCCACACGGGAGACAAACAGGTACAGTCGGTAACGGAATAG"
countNucFreq(given_example)

'232 213 242 219'